<!--ユーザーの詳細-->
<main>
  <div>
    <h2><%= @user.name %></h2>
      <% if book.image.attached? %>
        <%= image_tag @user.get_profile_image(100,100) %>
      <% else %>
        <%= image_tag 'no_image',
  </div>
</main>

<table class="table">
  <tbody>
    <tr></tr>
    <tr>
      <th>name</th>
      <th>
        <span><%= user.name %></span>
      </th>
    </tr>
    <tr>
      <th>introduction</th>
      <th>
        <span><%= user.introduction %></span>
      </th>
    </tr>
  </tbody>
  
</table>