<main>
  <div class="container px-5 px-sm-0">
    <div class="row">
      <div class="col-md-3">
        <h2>User info</h2>
        <% if user.image.attached? %>
          <%= image_tag user.image,size: "200x200" %>
        <% else %>
          <%= image_tag 'no_image',size: "200x200" %>
        <% end %>
        
        <table class="table">
          <tbody>
            <tr></tr>
            <tr>
              <th>name</th>
              <%= @user.name %>
            </tr>
            <tr>
              <th>introduction</th>
              <%= @user.introduction %>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        
      </div>
      <h2 class="mt-3">New book</h2>
      <%= form_with model: @book do |f| %>
      
        <div class="field">
          <%= f.label :Title %>
          <%= text_field :title %>
        </div>
        
        <div class="field">
          <%= f.label :Opinion %>
          <%= text_area :opinion %>
        </div>
        
        <div class="actions">
          <%= f.submit 'Create Book' %>
        </div>
      <% end %>
    </div>
  </div>
  
  <!--投稿一覧-->
  <%= @books.each do |book| %>
  
</main>
